.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.title-sub {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 7px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.red {
  background-color: green;
  color: white;
}
